// Style for printer
.printer {
	.controls,
	.download-btn {
		display: none;
	}
	.date {
		position: absolute;
		right: 0;
		top: 0;
	}
	.sheet {
		padding-top: 0 !important;
	}
	#education-section {
		padding-top: 200px !important;
	}
}
